<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="min-h-screen">
    <%- include('partials/nav') %>
    <div class="px-10 py-6 mb-4">
      <h1 class="text-3xl font-bold mb-3">Mes albums</h1>
      <a
        href="/albums/create"
        class="rounded border text-white bg-blue-600 px-2 py-1"
        >Nouvel album</a
      >

      <ul class="mt-4">
        <% albums.forEach((el) => { %>
        <li id="<%= el._id %>" class="border p-4 flex justify-between">
          <a class="p-1" href="/albums/<%=el._id%>"> <%- el.titre%> (<%=el.images.length%>)</a>
          <a
            href="/albums/<%=el._id%>/delete"
            class="rounded-full text-white bg-red-500 py-1 px-2"
          >
            supprimer
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
